page-mostra-historico {

  h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;

  }
  p{
    font-size: 12;
    text-align: justify;
  }
}

.data{
  text-align: center;
  font-size: 15px;
}

.margem{
  margin-left: 25px;
  margin-right: 25px;

}

.fundo{
  background:#4786b3;
  color: aliceblue;
  block-size: 70px;
  
}