page-mostra-historico {
  .historico{
    width: 100%;
    text-align: justify;
    padding: 5px;
  }
  h3{
    text-align: center;
  }
  p{
    font-size: 0.8em;
    text-align: justify;
    margin-left: 5px;
  }
}
