page-historico {

}
.iconepessoa{
    position: relative;
    margin-top: auto;
    display: block;
    text-align: center;
    font-size: 90px;
}
.nome{
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
