<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Consultas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-icon name="person" class="iconepessoa"></ion-icon>
<h2 class="nome">{{ dadosPaciente.nome }}</h2>
<p *ngIf="existe" class="nome">Data Início: {{ data | date: 'dd/MM/yyyy' }}</p>
<p *ngIf="!existe" class="nome"> Não possui consultas. </p>

<ion-list>
  <button ion-item *ngFor="let item of listaConsultasTodas" (click)="buscaHistorico(item._id, item.historico, item.data, item.titulo)">
    {{item.data | date: 'dd/MM/yyyy'}}
  </button>
</ion-list>
</ion-content>
