<ion-content >
  <div class="fundo">
    <ion-fab bottom right top class="tam" >
      <button ion-button icon-only (click)="sair()">  <ion-icon name="md-log-out"></ion-icon>
      </button>      
    </ion-fab>

    <ion-icon name="person" class="iconepessoa"></ion-icon>
      <h2 class="nome">{{ dadosPaciente.nome }}</h2>
        <p *ngIf="existe" class="nome margem">Data Início: {{ data | date: 'dd/MM/yyyy' }}</p>
        <p *ngIf="!existe" class="nome margem"> Não possui consultas. </p>
  </div>

    <ion-list>
      <button class="borda" ion-item *ngFor="let item of listaConsultasTodas" (click)="buscaHistorico(item._id, item.historico, item.data, item.titulo)">
          <p class="titulomenu">{{item.titulo}}</p> {{item.data | date: 'dd/MM/yyyy'}} 
      </button>
    </ion-list>
</ion-content>
