page-historico {
}
.iconepessoa{
    display: block;
    text-align: center;
    font-size: 80px;
    position: relative;

}
.nome{
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}


.fundo{
    background-color:#4786b3;
    color: aliceblue;
}

.titulomenu{
    font-size: 110px;
    font-weight: bold;
    text-transform: capitalize;
}


 .button-inner{
        color: #fff;
        background-color: #4786b3;
        background-origin: padding-box;

}

.margem{
    margin-left: 25px;
    margin-right: 25px;
}

.italico{
    font-style: italic;
}


.nomepaciente{
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-right: 5px;
  
  }